## Reading in Files

In [96]:
import pandas as pd

In [98]:
df1 = pd.read_csv(r"C:\Users\bhanu\iCloudDrive\Documents\Alex the Analyst Course\Pandas\Data\countries of the world.csv", header = 0)

In [100]:
df2 = pd.read_table(r"C:\Users\bhanu\iCloudDrive\Documents\Alex the Analyst Course\Pandas\Data\countries of the world.txt")

In [102]:
df3 = pd.read_json(r"C:\Users\bhanu\iCloudDrive\Documents\Alex the Analyst Course\Pandas\Data\json_sample.json")

In [104]:
df4 = pd.read_excel(r"C:\Users\bhanu\iCloudDrive\Documents\Alex the Analyst Course\Pandas\Data\world_population_excel_workbook.xlsx")

In [106]:
df5 = pd.read_excel(r"C:\Users\bhanu\iCloudDrive\Documents\Alex the Analyst Course\Pandas\Data\world_population_excel_workbook.xlsx", sheet_name = 'Sheet1')

In [108]:
pd.set_option('display.max.rows', 10)
pd.set_option('display.max.columns', 15)

In [110]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  227 non-null    object
 1   Region   227 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [112]:
df2.shape

(227, 2)

In [114]:
df3['The Greatest Showman']

0    {'Genre': 'Biography', 'Gross': '$627,248', 'I...
Name: The Greatest Showman, dtype: object

In [116]:
df4.head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,...,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,...,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,...,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,...,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,...,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,...,53569,35611,19860,468,170.5641,1.0100,0.00

In [118]:
df5.tail(7)

     Rank CCA3            Country    Capital
227    51  VEN          Venezuela    Caracas
228    16  VNM            Vietnam      Hanoi
229   226  WLF  Wallis and Futuna   Mata-Utu
230   172  ESH     Western Sahara  El AaiÃºn
231    46  YEM              Yemen      Sanaa
232    63  ZMB             Zambia     Lusaka
233    74  ZWE           Zimbabwe     Harare

In [120]:
df5.loc[224]

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object

In [122]:
df5.iloc[220]

Rank                   21
CCA3                  GBR
Country    United Kingdom
Capital            London
Name: 220, dtype: object