# Data Cleaning in Pandas

In [141]:
import pandas as pd

In [143]:
df1 = pd.read_excel (r"C:\Users\bhanu\iCloudDrive\Documents\Alex the Analyst Course\Pandas\Data\Customer Call List.xlsx")

In [145]:
df1.drop_duplicates(inplace = True)

In [173]:
df1.drop (columns = 'Not_Useful_Column', inplace = True)

In [147]:
df1['Last_Name'] = df1['Last_Name'].str.lstrip("...")
df1['Last_Name'] = df1['Last_Name'].str.lstrip("/")
df1['Last_Name'] = df1['Last_Name'].str.rstrip("_")

In [149]:
df1['Last_Name'] = df1['Last_Name'].str.strip("123._/(")  # This Simple Code can be used instead of the previous Code!

In [151]:
df1["Phone_Number"] = df1["Phone_Number"].str.replace('[^a-zA-Z0-9]','', regex = True)

In [153]:
df1["Phone_Number"] = df1["Phone_Number"].apply(lambda x: str(x))

In [155]:
df1["Phone_Number"] = df1["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

In [157]:
df1["Phone_Number"] = df1["Phone_Number"].str.replace('nan--','')
df1["Phone_Number"] = df1["Phone_Number"].str.replace('Na--','')

In [159]:
df1[["Street_Address", "State/County", "Zipcode"]] = df1["Address"].str.split(',',n = 2, expand = True)

In [161]:
df1["Paying Customer"] = df1["Paying Customer"].str.replace('Yes','Y')
df1["Paying Customer"] = df1["Paying Customer"].str.replace('No','N')

In [163]:
df1["Do_Not_Contact"] = df1["Do_Not_Contact"].str.replace('Yes','Y')
df1["Do_Not_Contact"] = df1["Do_Not_Contact"].str.replace('No','N')

In [165]:
df1 = df1.replace('N/a','')

In [167]:
df1 = df1.fillna('')

In [169]:
for x in df1.index:
    if df1.loc[x, "Do_Not_Contact"] == 'Y':
        df1.drop(x, inplace = True)

In [200]:
for x in df1.index:
    if df1.loc[x, "Phone_Number"] == '':
        df1.drop(x, inplace = True)
# Could also be writen as df1.dropna

In [193]:
df1.reset_index(drop = True, inplace = True)

In [202]:
df1.drop (columns = 'Zipcode', inplace = True)

In [204]:
df1

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State/County
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,123 Dragons Road,
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,98 Clue Drive,
3,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York
4,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,2039 Main Street,
5,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,343 City Parkway,
6,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,214 HR Avenue,
7,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,
8,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania
9,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine