# Data Cleaning in Pandas

In [256]:
import pandas as pd

In [258]:
df1 = pd.read_excel (r"C:\Users\bhanu\iCloudDrive\Documents\Alex the Analyst Course\Pandas\Data\Customer Call List.xlsx")

In [260]:
df1.drop_duplicates(inplace = True)

In [262]:
df1 = df2

In [ ]:
df1.drop (columns = 'Not_Useful_Column', inplace = True)

In [266]:
df1['Last_Name'] = df1['Last_Name'].str.lstrip("...")
df1['Last_Name'] = df1['Last_Name'].str.lstrip("/")
df1['Last_Name'] = df1['Last_Name'].str.rstrip("_")

In [268]:
df2['Last_Name'] = df2['Last_Name'].str.strip("123._/(")

In [270]:
df1["Phone_Number"] = df1["Phone_Number"].str.replace('[^a-zA-Z0-9]','', regex = True)

In [272]:
df1["Phone_Number"] = df1["Phone_Number"].apply(lambda x: str(x))

In [274]:
df1["Phone_Number"]

0       12354554
1       12364397
2     7066950392
3       12354323
4       87667834
5       30476224
6            nan
7       87667834
8             Na
9       12354554
10           nan
11    7066950392
12      12354323
13      87667834
14      30476224
15      12354554
16      12364397
17    7066950392
18            Na
19      87667834
Name: Phone_Number, dtype: object

In [276]:
df1["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

0       123-545-54
1       123-643-97
2     706-695-0392
3       123-543-23
4       876-678-34
5       304-762-24
6            nan--
7       876-678-34
8             Na--
9       123-545-54
10           nan--
11    706-695-0392
12      123-543-23
13      876-678-34
14      304-762-24
15      123-545-54
16      123-643-97
17    706-695-0392
18            Na--
19      876-678-34
Name: Phone_Number, dtype: object