# Indexing

In [3]:
import pandas as pd

In [5]:
df1 = pd.read_csv (r"C:\Users\bhanu\iCloudDrive\Documents\Alex the Analyst Course\Pandas\Data\world_population.csv")

In [12]:
df2 = pd.read_csv (r"C:\Users\bhanu\iCloudDrive\Documents\Alex the Analyst Course\Pandas\Data\world_population.csv", index_col = 'Country')

In [18]:
df2.reset_index(inplace = True)

In [26]:
df2.set_index('Country')

df2.set_index('Country', inplace = True)

In [30]:
df2.loc['Albania']

Rank                                 138
CCA3                                 ALB
Capital                           Tirana
Continent                         Europe
2022 Population                2842321.0
2020 Population                2866849.0
2015 Population                2882481.0
2010 Population                2913399.0
2000 Population                3182021.0
1990 Population                3295066.0
1980 Population                2941651.0
1970 Population                2324731.0
Area (km²)                       28748.0
Density (per km²)                98.8702
Growth Rate                       0.9957
World Population Percentage         0.04
Name: Albania, dtype: object

In [34]:
df2.iloc[4]

Rank                                        203
CCA3                                        AND
Capital                        Andorra la Vella
Continent                                Europe
2022 Population                         79824.0
2020 Population                         77700.0
2015 Population                         71746.0
2010 Population                         71519.0
2000 Population                         66097.0
1990 Population                         53569.0
1980 Population                         35611.0
1970 Population                         19860.0
Area (km²)                                468.0
Density (per km²)                      170.5641
Growth Rate                                1.01
World Population Percentage                 0.0
Name: Andorra, dtype: object

In [36]:
df2.reset_index(inplace = True)

In [38]:
df2.set_index(['Continent', 'Country'], inplace = True)

In [84]:
df2.sort_index(ascending = [True,False])

#pd.set_option('display.max.rows', 6)

                              Rank CCA3       Capital  2022 Population  \
Continent     Country
Africa        Zimbabwe          74  ZWE        Harare       16320537.0
              Zambia            63  ZMB        Lusaka       20017675.0
              Western Sahara   172  ESH      El Aaiún         575986.0
...                            ...  ...           ...              ...
South America Brazil             7  BRA      Brasilia      215313498.0
              Bolivia           80  BOL         Sucre       12224110.0
              Argentina         33  ARG  Buenos Aires       45510318.0

                              2020 Population  2015 Population  \
Continent     Country
Africa        Zimbabwe             15669666.0       14154937.0
              Zambia               18927715.0              NaN
              Western Sahara         556048.0         491824.0
...                                       ...              ...
South America Brazil              213196304.0      205188205.0
              Bolivia              11936162.0       11090085.0
              Argentina            45036032.0       43257065.0

                              2010 Population  2000 Population  \
Continent     Country
Africa        Zimbabwe             12839771.0       11834676.0
              Zambia               13792086.0        9891136.0
              Western Sahara         413296.0         270375.0
...                                       ...              ...
South America Brazil              196353492.0      175873720.0
              Bolivia              10223270.0        8592656.0
              Argentina            41100123.0       37070774.0

                              1990 Population  1980 Population  \
Continent     Country
Africa        Zimbabwe             10113893.0        7049926.0
              Zambia                7686401.0        5720438.0
              Western Sahara         178529.0         116775.0
...                                       ...              ...
South America Brazil              150706446.0      122288383.0
              Bolivia               7096194.0        5736088.0
              Argentina            32637657.0       28024803.0

                              1970 Population  Area (km²)  Density (per km²)  \
Continent     Country
Africa        Zimbabwe              5202918.0    390757.0            41.7665
              Zambia                4281671.0    752612.0            26.5976
              Western Sahara          76371.0    266000.0             2.1654
...                                       ...         ...                ...
South America Brazil               96369875.0   8515767.0            25.2841
              Bolivia               4585693.0   1098581.0            11.1272
              Argentina            23842803.0   2780400.0            16.3683

                              Growth Rate  World Population Percentage
Continent     Country
Africa        Zimbabwe             1.0204                         0.20
              Zambia               1.0280                         0.25
              Western Sahara       1.0184                         0.01
...                                   ...                          ...
South America Brazil               1.0046                         2.70
              Bolivia              1.0120                         0.15
              Argentina            1.0052                         0.57

[234 rows x 15 columns]

In [86]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 234 entries, ('Asia', 'Afghanistan') to ('Africa', 'Zimbabwe')
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Capital                      234 non-null    object
 3   2022 Population              230 non-null    float64
 4   2020 Population              233 non-null    float64
 5   2015 Population              230 non-null    float64
 6   2010 Population              227 non-null    float64
 7   2000 Population              227 non-null    float64
 8   1990 Population              229 non-null    float64
 9   1980 Population              229 non-null    float64
 10  1970 Population              230 non-null    float64
 11  Area (km²)                   232 non-null    float64
 12  Density (per km²)            230 non-null    float64
 13  Growth Rate                  232 non-null    float64
 14  World Population Percentage  234 non-null    float64
dtypes: float64(12), int64(1), object(2)
memory usage: 46.4+ KB

In [88]:
df2.loc['Africa','Angola']

Rank                                42
CCA3                               AGO
Capital                         Luanda
                                ...
Density (per km²)              28.5466
Growth Rate                     1.0315
World Population Percentage       0.45
Name: (Africa, Angola), Length: 15, dtype: object

In [90]:
df2.iloc[4]

Rank                                        203
CCA3                                        AND
Capital                        Andorra la Vella
                                     ...
Density (per km²)                      170.5641
Growth Rate                                1.01
World Population Percentage                 0.0
Name: (Europe, Andorra), Length: 15, dtype: object